# http://www.gnu.org/software/automake

Makefile.in
# /ar-lib
# /mdate-sh
# /py-compile
# /test-driver
# /ylwrap
.deps/
.libs/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache/
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1

# https://www.gnu.org/software/libtool/

ltmain.sh
libtool

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# omniidl generated stubs
*SK.cpp
*DynSK.cpp
system/nodebooter/nodeBooter
system/ossie/idl/cpp/PortTypes.h
system/ossie/idl/cpp/StandardEvent.h
system/ossie/idl/cpp/cf.h
system/ossie/idl/python/ossie/
system/standardInterfaces/Radio_Control.h
system/standardInterfaces/complexChar.h
system/standardInterfaces/complexDouble.h
system/standardInterfaces/complexFloat.h
system/standardInterfaces/complexLong.h
system/standardInterfaces/complexShort.h
system/standardInterfaces/python/ossie/
system/standardInterfaces/realChar.h
system/standardInterfaces/realDouble.h
system/standardInterfaces/realFloat.h
system/standardInterfaces/realLong.h
system/standardInterfaces/realShort.h


# pkg-config files
!system/standardInterfaces/standardInterfaces.pc
!system/SigProc/sigproc.pc
!system/ossie/ossie.pc
